body {
    box-sizing: border-box;
    font-family: arial;
    margin: 30px 40px;
}

* {
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1.1rem;
    margin-bottom: 5px;
}

h3 {
    margin-bottom: 20px;
}

button {
    font-size: 0.8rem;
    padding: 1px 10px;
}

i {
    cursor: pointer;
}

i:hover {
    text-decoration: underline;
    user-select: none;
}

small {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.8rem;
}

.crit-card {
    background-color: #fefefe;
    border: 1px solid #eee;
    padding: 10px;
    width: 350px;
}

.option-card {
    background-color: #fefefe;
    border: 1px solid #eee;
    display: inline-block;
    padding: 10px;
    width: 400px;
}

form {
    margin-bottom: 20px;
}

form input {
    padding: 2px 5px;
    border: 1px solid #ddd;
    vertical-align: top;;
}

form input:focus {
    border: 1px solid #999;
    outline: 0;
}

form input + button {
    margin-left: 5px;
}

ol {
    margin-top: 10px;
}

main {
    display: flex;
}

.left-section {
    margin-right: 40px;
    min-width: 380px;
}

.right-section {
    width: 100%;
}

.crit-section {
    display: block;
}

.ranked-section {
    display: block;
    margin-top: 40px;
}

.button-section {
    margin-top: 40px;
}

.button-section button {
    margin-right: 10px;
}

textarea {
    border: 1px solid #ddd;
    display: block;
    font-size: 0.8rem;
    height: 160px;
    margin-top: 10px;
    padding: 5px;
    width: 100%;
}

hr {
    border: 0;
    border-bottom: 1px solid #ddd;
}

.score-input {
    line-height: 27px;
}

.score-input .scores {
    vertical-align: bottom;
    margin: 0 8px 0 10px;
}

.score-input label {
    display: inline-block;
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.9rem;
    text-align: right;
    vertical-align: top;
    width: 40%;
}

.score-input small {
    color: rgba(0, 0, 0, 0.3);
    vertical-align: top;
}

.score-input .score {
    border: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: inline-block;
    height: 15px;
    margin: 0 1px;
    width: 15px;
}

.score-input .score[data-selected="true"][data-score="-3"] {
    background-color: rgba(200, 0, 0, 0.7);
}

.score-input .score[data-selected="true"][data-score="-2"] {
    background-color: rgba(200, 0, 0, 0.5);
}

.score-input .score[data-selected="true"][data-score="-1"] {
    background-color: rgba(200, 0, 0, 0.2);
}

.score-input .score[data-selected="true"][data-score="0"] {
    background-color: rgba(0, 0, 0, 0.1);
}

.score-input .score[data-selected="true"][data-score="1"] {
    background-color: rgba(0, 200, 0, 0.2);
}

.score-input .score[data-selected="true"][data-score="2"] {
    background-color: rgba(0, 200, 0, 0.5);
}

.score-input .score[data-selected="true"][data-score="3"] {
    background-color: rgba(0, 200, 0, 0.7);
}

.pareto {
    cursor: default;
    font-size: 0.8rem;
    margin: 0 3px;
}
