body {
    box-sizing: border-box;
    font-family: monospace;
    margin: 20px;
}

* {
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
    list-style: none;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

h3 {
    margin-bottom: 5px;
}

label {
    color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    font-size: 0.9rem;
    margin-right: 7px;
    text-align: right;
    vertical-align: top;
    width: 220px;
}

i {
    cursor: pointer;
}

i:hover {
    text-decoration: underline;
}

section {
    display: inline-block;
    margin: 0 20px;
    vertical-align: top;
    width: 350px;
}

.crit-card {
    background-color: #fefefe;
    border: 1px solid #eee;
    padding: 10px;
}

.option-card {
    background-color: #fefefe;
    border: 1px solid #eee;
    padding: 10px;
}

form {
    margin-bottom: 10px;
}

ol {
    margin-top: 10px;
}
